@model List<BankOfSimba.Models.BankAccount>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <form>
        <textarea>Add new:</textarea>
        <button>Submit</button>
    </form>

    <table border="1" align="center">
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    <p>@(Model.IndexOf(account)+1)</p>
                </td>
                <td>
                    @if (account.IsKing)
                    {
                    <h1 style="color: yellow">@account.Name</h1>
                    }
                    else
                    {
                    <p>@account.Name</p>
                    }
                </td>
                <td>
                    <p>is @(account.IsKing ? "" : "not") a king</p>
                </td>
                <td>
                    @if (account.GoodOrBad == BankOfSimba.Models.GoodOrBad.BadGuy)
                    {
                        <p> and a bad guy.</p>
                    }
                    else if (account.GoodOrBad == BankOfSimba.Models.GoodOrBad.GoodOne)
                    {
                        <p> and a good one.</p>
                    }
                    else if (account.GoodOrBad == BankOfSimba.Models.GoodOrBad.Depends)
                    {
                        <p> and depends on the situation if is good or bad.</p>
                    }
                </td>
            </tr>
        }
    </table>
</body>
</html>


