@model List<BankOfSimba.Models.BankAccount>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var account in Model)
         {
            <tr> 
                <td>
                    @(Model.IndexOf(account) + 1)
                </td>
                <td>
                   @account.Name  
                </td>
            </tr>
         }
    </table>
</body>
</html>


