@model List<BankOfSimba.Models.BankAccount>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    <p>@(Model.IndexOf(account)+1)</p>
                </td>
                <td>
                    @if (account.IsKing)
                    {
                    <h1>@account.Name</h1>
                    }
                    else
                    {
                    <p>@account.Name</p>
                    }
                </td>
                <td>
                    <p>is @(account.IsKing ? "" : "not") a king</p>
                </td>
            </tr>
        }
    </table>
</body>
</html>


