@model BankOfSimba.Models.BankAccount
 
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <p>Bank account owner: @Model.Name</p>
        <p>Balance: @Model.Balance</p>
        <p>Animal type: @Model.AnimalType</p>
    </body>
</html>


