@model GreetApp.Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>Hello, @Model.Name!</p>
    <p>With User's own 'Greet' method:</p>
    <p>@Model.Greet()</p>
</body>
</html>