
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="greet" method="post">
        Your name: <input type="text" name="name" value="" />
        <button type="submit" value="Submit">Greet me!</button>
    </form>
</body>
</html>
