@model TodoApp.Models.Todo
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Todo</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <text> @Html.LabelFor(todo => todo.Title) </text> <span>@Html.TextBoxFor(todo => todo.Title)</span> <br />
        <text> @Html.LabelFor(todo => todo.IsUrgent) </text> <span> @Html.CheckBoxFor(todo => todo.IsUrgent)</span> <br />
        <button type="submit" value="Submit">Add to the list!</button>
    }
</body>
</html>


