<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="isAnagram" method="post">
        <p>First word: <input type="text" name="word1" value="" /></p>
        <p>Second word: <input type="text" name="word2" value="" /></p>
        <button type="submit" value="Submit">Are these words anagrams?</button>
    </form>
</body>
</html>