body {
  margin: 0px;
}

div {
  font-size: 36px;
  font-family: arial, sans-serif;
  color: #005566;
  width: 350px;
  height: 135px;
  background-color: #0E91A1;
  padding-top: 20px;
  padding-left: 20px;
  border: 5px solid #7DCE94;
  margin: 10px;
  margin-bottom: 20px;
}

p {
  margin: 0px;
}