body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
}

main {
  width: 80%;
  background-color: #cecccc;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
  display: inline-block;
  width:100%;
  /*padding: 0px 10px 0px 10px;*/
  margin: 0px 0px 10px 0px;
  /*float: left;*/
}

h1 {
  padding: 10px 0px 0px 10px;
}

h2 {
  background-color: #303030;
  color: whitesmoke;
  padding: 10px;
  border-radius: 3px;
}

input,
select {
  border-radius: 3px;
  width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[id="birth"]{
  width: 50px;
}

/*div[class~="half"] {
  float: left;
}*/

.input_half {
  width: 50%;
  padding: 10px;
  float: left;
}

div.small {
  padding: 0px 10px 0px 0px;
}

.input_full {
    background-color: green;
    width: 100%;
    padding: 20px;
}

label {
  font-weight: strong;
}

.fontos {

}


